.tools__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}


@media screen and (max-width: 1440px){
  .tools__text {
    font-size: 14px;
    line-height: 17px;
  }
}


@media screen and (max-width: 860px){
  .tools__text {
    font-size: 12px;
    line-height: 15px;
  }
}
