.evidence__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width: 1440px){
  .evidence__text {
    font-size: 14px;
    line-height: 19px;
  }
}
