.developments__img {
  width: 72px;
}


@media screen and (max-width: 1024px){
  .developments__img {
    width: 52px;
  }
}


@media screen and (max-width: 860px){
  .developments__img {
    width: 32px;
  }
}
