.join__approval {
  display: flex;
  align-items: flex-start;
  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 65px;
}


@media screen and (max-width: 1440px){
  .join__approval {
    margin-bottom: 30px;
  }
}
